<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.order.mapper.OrderMapper">
    <resultMap id="OrderResult" type="org.example.order.pojo.Order">
        <id property="orderId" column="order_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="amount" column="amount" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="creater" column="creater" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getOrderByOrderId" parameterType="java.lang.Long" resultMap="OrderResult">
        select * from order_table where order_id = #{orderId}
    </select>

    <select id="getOrdersByUserId" parameterType="java.lang.Long" resultMap="OrderResult">
        select * from order_table where user_id = #{userId}
    </select>
</mapper>